.game_page {
    height: 100vh;
    width: 100vw;
    background-image: url('../Resources/table_0.png');
    background-size: contain;
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.dnd {
    /* background-color: yellowgreen; */
    height: 100%;
    
}

.droppables {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.game_cards {
    width: 10.6vw;
}

.main_game_card {
    width: 13vw;
}

.take_card {
    width: 13vw;
    height: 32vh;
}

.rival_deck_1, .rival_deck_2, .rival_deck_3, .rival_deck_4  {
    position: absolute;
    color:  #ffffff;
}

.rival_deck_1 {
    margin-top: 23%;
    margin-left: 10%;
}

.rival_deck_2 {
    margin-top: 2%;
    margin-left: 25%;
}

.rival_deck_3 {
    margin-top: 2%;
    margin-left: 55%;
}

.rival_deck_4 {
    margin-top: 11%;
    margin-right: 10%;
    right: 0;
}

.rival_cards {
    width: 10vw;
    height: 14vh;
}

.deck_droppable {
    max-width: 74.5%;
    overflow-x: scroll;
}

.table_deck_droppable {
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_change_color_buttons {
    height: 70%;
}


.btnChangeColorR {
    background-color:#ea323c;
    color:white;
    width: 25%;
    height: 100%;
    border-radius: 100px 0 0 0;
    border: inherit;
}

.btnChangeColorB {
    background-color:#0098dc;
    color:white;
    width: 25%;
    height: 100%;
    border-radius: 0 100px 0 0;
    border: inherit;
}

.btnChangeColorY {
    background-color:#ffc825;
    color:white;
    width: 25%;
    height: 100%;
    border-radius: 0 0 0 100px;
    border: inherit;
}

.btnChangeColorG {
    background-color:#33984b;
    color:white;
    width: 25%;
    height: 100%;
    border-radius: 0 0 100px 0;
    border: inherit;
}


.winnerIMG {
    /* width: 13vw;
    height: 32vh; */
}