.game_page {
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */
    background-image: url('../Resources/table_0.png');
    background-size: contain;
}

.item {
    background-image: url('../Resources/table_0.png');
  }